* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  table,
  tr,
  td,
  th {
    border: 1px solid #000;
    padding: 10px;
    border-collapse: collapse;
  }

  th {
    color: rgb(215, 125, 140);
  }
  
  h1 {
    text-align: center;
    color: rgb(224, 110, 129);
  }
  
  
  table {
    width: 1000px;
    margin: 10px auto;
  }
  
  .completed {
    background-color: rgb(240, 160, 174);
    color: #fff;
  }
  
  .notCompleted {
    background-color: white;
    color:rgb(243, 154, 168) ;
  }
  
  form {
    margin: auto;
    margin-top: 50px;
    width: 1000px;
  }