body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
  }
  .calculator {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 8px;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
  }
  button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: rgb(214, 212, 212);
    cursor: pointer;
    transition: background 0.2s;
  }
  button:hover {
    background: rgb(227, 225, 225);
  }